<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">Login</li>
	  </ol>
	</nav>

	<div class="jumbotron bordered">
		<h3 style="text-align: center;">{{loginNomeCtrl}}</h3>
		<hr>
		<form name="loginForm">

			<div class="alert alert-danger" role="alert" ng-show="userNotExit">Usuário ou Senha incorretos!</div>
			
			<input ng-model="login.email" type="email" name="email" class="form-control" placeholder="E-mail" ng-required="true">
			<div class="forgot" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty">
				<p ng-message="required">E-mail é um campo obrigatório!</p>
				<p ng-message="email">O e-mail é inválido!</p>
			</div>

			<input ng-model="login.password" type="password" name="senha" class="form-control" placeholder="Senha" ng-required="true">
			<div class="forgot" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
				<p ng-message="required">Senha é um campo obrigatório!</p>
			</div>

		</form>
		<p class="forgot"><a href="#/forgot">Esqueceu a senha?</a></p>
		<!-- <a class="btn btn-primary btn-block" href="#/listUsers">Entrar</a> -->
		<button class="btn btn-primary btn-block form-control" ng-disabled="loginForm.$invalid" ng-click="validateUser(login)">Entrar</button>
		<p class="register"><a href="#/register">Não sou registrado.</a></p>

	</div>

</div>