<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active" aria-current="page">Login</li>
	  </ol>
	</nav>

	<div class="jumbotron">
		<h3 style="text-align: center;">{{loginNomeCtrl}}</h3>
		<hr>
		<form name="loginForm">
			
			<input ng-model="login.email" type="email" name="email" class="form-control" placeholder="E-mail" ng-required="true">
			<div class="forgot" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$dirty">
				<p ng-message="required">E-mail é um campo obrigatório!</p>
				<p ng-message="email">O e-mail é inválido!</p>
			</div>

			<input ng-model="login.senha" type="password" name="senha" class="form-control" placeholder="Senha" ng-required="true">
			<div class="forgot" ng-messages="loginForm.senha.$error" ng-if="loginForm.senha.$dirty">
				<p ng-message="required">Senha é um campo obrigatório!</p>
			</div>

		</form>
		<p class="forgot"><a href="#/forgot" ng-click="resetLoginForm(login.email)">Esqueceu a senha?</a></p>
		<button class="btn btn-primary btn-block form-control" ng-disabled="loginForm.$invalid">Entrar</button>
		<p class="register"><a href="#/register">Não sou registrado.</a></p>

	</div>

</div>