<div class="container">
	
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#/login">Login</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Registrar</li>
	  </ol>
	</nav>


	<div class="jumbotron  bordered">
		<h3 style="text-align: center;">{{registerNomeCtrl}}</h3>
		<hr>
		<form name="registerForm">

			<div class="alert alert-danger" role="alert" ng-show="userExit">Usuário já existe!!!</div>

			<input ng-model="register.name" type="text" name="nomeRegister" class="form-control" placeholder="Nome" ng-required="true">
			<div class="forgot" ng-messages="registerForm.nomeRegister.$error" ng-if="registerForm.nomeRegister.$dirty">
				<p ng-message="required">Nome é um campo obrigatório!</p>
			</div>

			<input ng-model="register.email" type="email" name="emailRegister" class="form-control" placeholder="E-mail" ng-required="true">
			<div class="forgot" ng-messages="registerForm.emailRegister.$error" ng-if="registerForm.emailRegister.$dirty">
				<p ng-message="required">E-mail é um campo obrigatório!</p>
				<p ng-message="email">O e-mail é inválido!</p>
			</div>

			<input ng-model="register.password" type="password" name="senhaRegister" class="form-control" placeholder="Senha" ng-required="true" ng-change="registerPasswordChanged()">
			<div class="forgot" ng-messages="registerForm.senhaRegister.$error" ng-if="registerForm.senhaRegister.$dirty">
				<p ng-message="required">Senha é um campo obrigatório!</p>
			</div>

			<input ng-model="confirmPassword" type="password" name="confirmSenhaRegister" class="form-control" placeholder="Confirmar senha" ng-required="true" confirm-password="register.password">
			<div class="forgot" ng-messages="registerForm.confirmPassword.$error" ng-if="registerForm.confirmPassword.$dirty">
				<p ng-message="required">Confirmar a senha é um campo obrigatório!</p>
				<p ng-message="confirm">As senhas devem conferir!</p>
			</div>

		</form>

		<ul class="nav bordered appNavContainer">
		      <li class="nav-item" title="Confirma Adição" ng-show="registerForm.$valid">
				<a class="nav-link" href="" ng-click="registerUser(register)"><i class="fa fa-check"></i></a>
			  </li>
		      <li class="nav-item" title="Limpa Formulário">
				<a class="nav-link" href="" ng-click="resetRegisterForm()"><i class="fa fa-redo"></i></a>
			  </li>
		</ul>

	</div>

</div>